
 <div class="container">
    <p-table
        #dt1
        [value]="filteredSummaries"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['channelname', 'title','video_url','publishedtime','videolengthseconds','viewcount','videoid' ]"
        
        >
    

    
        <ng-template pTemplate="caption">
            <div class="search-and-clear">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  [(ngModel)]="searchText"  placeholder="Search keyword" (input)="onSearch()" />

                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Channel Name
                        <p-columnFilter style="color: aqua;" type="text" field="channelname" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center ">
                        Title
                        <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Chanel Link
                        <p-columnFilter  type="text" field="video_url" display="menu" [showOperator]="false" >
               
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Publish Time
                        <p-columnFilter type="date" field="publishedtime" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Video Length
                        <p-columnFilter type="numeric" field="videolengthseconds" display="menu"  ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Views
                        <p-columnFilter type="numeric" field="viewcount" matchMode="equals" display="menu">
                           
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Video Id
                        <p-columnFilter field="videoid" type="text" matchMode="between" display="menu"  >
                          
                        </p-columnFilter>
                    </div>
                </th>
             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="pointer-class">

                <td (click)="openSummaryModal(customer)">
                    {{ customer.channelname }}
                </td>

                <td class="text-elipses" (click)="openSummaryModal(customer)"> 
                    <span class="ml-1 vertical-align-middle">{{ customer.title }}</span>
                </td>

                <td (click)="openSummaryModal(customer)"> 
                    <span class="ml-1 vertical-align-middle">{{ customer.video_url }}</span>
                </td>
                
                <td (click)="openSummaryModal(customer)">
                    {{ customer.publishedtime | date: 'MM/dd/yyyy' }}
                </td>
                
                <td (click)="openSummaryModal(customer)">
                    {{ customer.videolengthseconds  }}
                </td>
                
                <td (click)="openSummaryModal(customer)">
                    <p-tag [value]="customer.viewcount"  ></p-tag>
                </td>

                <td (click)="redirectToSummaryPublicView(customer.videoid)">
                    {{ customer.videoid  }}
                </td>
 
            </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
 
    </p-table>
 
 </div>
