
:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}
 
 


.container{
  padding: 50px;

  .search-and-clear{
    display: flex;
 
    justify-content: space-between;
    align-items: center;
}


}



::ng-deep .p-button.p-button-outlined {
    background-color: transparent;
    color: #00684A !important;
    border: 1px solid;
  }

  ::ng-deep .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #00684A, 0 1px 2px 0 black;
  }

  ::ng-deep .p-button {
    color: #ffffff;
    background: #00684A;
    border: 1px solid #00684A;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

::ng-deep .p-button.p-button-text {
    background-color: transparent;
    color: #00684A;
    border-color: transparent;
}

::ng-deep .p-button.p-button-text:enabled:hover {
   background: rgb(32 187 78 / 4%);
    color: #00684A;
    border-color: transparent;
}

::ng-deep .p-inputtext:enabled:hover {
    border-color: #00684A;
}

::ng-deep  .p-button:enabled:hover {
    background: #00684A;
    color: #ffffff;
    border-color: #00684A;
}

::ng-deep .p-column-filter-menu-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #9cdcc9;
}

::ng-deep .p-dropdown:not(.p-disabled):hover {
    border-color: #00684A;
}

::ng-deep .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #cefcdc;
    border-color: #00684A;
}

::ng-deep .p-dropdown:not(.p-disabled):hover {
    border-color: #00684A;
}



::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #cefcdc;
    border-color: #00684A;
}

::ng-deep  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #00684A;
    background: #cefcdc;
}

::ng-deep .p-tag {
    background: #00684A;
    // background: #cefcdc;
    
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 6px;
}

::ng-deep .container  .text-elipses{
    box-sizing: border-box;
    white-space: nowrap;
    width: 483px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
    display: block;
}