<div class="container">


<div class="card">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <svg-icon src="../../../assets/icons/summary.svg" [svgStyle]="{ 'width.px': 25 }"></svg-icon>
        <span class="summary">Summary</span>
      </ng-template>
      <!-- <div *ngFor="let section of summarySections">
        <strong>{{ section.title }}</strong>
        <div *ngFor="let point of section.points">
          <p>{{ point }}</p>
        </div>
      </div> -->
 
      <div [innerHTML]="markedSummary"></div>
      
       
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <svg-icon src="../../../assets/icons/transcript.svg" [svgStyle]="{ 'width.px': 25 }"></svg-icon>
        <span class="summary">Transcript</span>
      </ng-template>
      <!-- <div *ngFor="let section of transcriptSections">
        <strong>{{ section.title }}</strong>
        <div *ngFor="let point of section.points">
          <p>{{ point.text }}</p>
        </div>
      </div> -->
      <div *ngFor="let object of markedTranscript">
        <span class="start-time">{{ object.startTime }}</span>
        <span [innerHTML]="object.text"></span> <br> 
      </div>
      
    </p-tabPanel>
 
  </p-tabView>
</div>

</div>
 