<!-- Top navbar starts from here  -->
<mat-toolbar class="header">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
  </button>

  <div class="navbar-content">
   <!-- <img width="150" src="../../assets/icons/superdaze with icon logo.svg"/>  -->
   <svg-icon src="../../assets/icons/superdaze with icon logo.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon>
   
    <p-menu #menu [model]="userMenu"  [popup]="true"></p-menu>
    <div (click)="menu.toggle($event)" class="user-circle">H</div>
    <!-- <button pButton type="button"  icon="pi pi-bars" label="Show"></button> -->
  </div>

</mat-toolbar>

<!-- Side nav starts from here  -->
<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!isMenuCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'"
      class="custom-sidenav">
      <!-- Iterating all nav items through loop -->
      <mat-nav-list>
          <div class="all-items-list">
              <ng-container *ngFor="let item of navItems">
                <div class="entry" [routerLink]="item.routerLink">
                  
                      <svg-icon [src]="item.icon" [svgStyle]="{ 'width.px':41 }"></svg-icon>
                      <span *ngIf="!isMenuCollapsed">{{ item.name }}</span>
              </div>
              </ng-container>
            </div>
      </mat-nav-list>
  </mat-sidenav>

  <!-- Content section of each nav item starts from here -->
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>
